.pinboard {
    margin-left:5px;
    margin-top:15px;}
.pinterest-gallery {
    width: 31.1%;
    padding:1px;
    float: left;
    position: relative;}
.pinterest-thumbnail {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover !important;
    background-position: 31.1% 31.1% !important;}
.pinterest-thumbnail:hover {
    width: 100%;
    opacity:0.6;
    padding-bottom: 100%;
    background-size: cover !important;
    background-position: 31.1% 31.1% !important;}
.arri_text { 
    color: #999999; 
    font-size: 14px; 
    text-decoration: none !important;
    border-bottom: none !important; 
    text-shadow: none !important;}
.arri { 
    font-size: 10px; 
    border-bottom: none !important; 
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .1);} 
.arri a, .arri a:hover {
    font-size: 10px; 
    border-bottom: none !important;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .1); 
    border-bottom: none !important;} 
ul.hierarchy li {
    list-style: none!important; 
    border-bottom: none !important;
    margin-left: 5px;} 
ul.hierarchy a {
    font-size: 9px; 
    letter-spacing:1px;
    word-spacing:2px;
    list-style: none!important; 
    list-style-image: none;
    margin-left:15px!important;
    line-height: 16px;
    border-bottom: none !important;} 
        
